{% extends "base.html" %}

{% block title %}My World{% endblock %}

{% block header %}Contact List:{% endblock %}

{% block content %}

<div class="admin_panel">
    <form name="contactForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select name from the list to edit:</label>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for person in profiles %}
                <option value="../{{ person.pk }}/details/">{{ person }}</option>
            {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'createProfile' %}"><button type="button" class="btn">Enter New Name</button></a>
                <a href="{% url 'home' %}"><button type="button" class="btn">Logout of Profile</button></a>
            </div>
        </div>
    </form>
</div>



{% endblock %}